<table class="table table-striped">
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price / Item</th>
  </tr>
  <tr ng-repeat="product in products">
    <td><a ui-sref="products.show({ id: product.id })">{{ product.name }}</a></td>
    <td>
      <select ng-model="quantity" ng-="">
        <option ng-repeat="n in [].constructor(0, product.quantity) track by $index"
                selected="cart[product.id]">{{ $index }}</option>
      </select>
    </td>
    <td>{{ product.price | currency }}</td>
  </tr>
  <tr>
    <td><b>Total</b></td>
    <td></td>
    <td>{{ total(cart) | currency }}</td>
</table>

<button class="btn btn-success pull-right">Place Order</button>
