
<div class="row margin-below">

  <div class="col-md-7">
    <h1>{{ product.name }}</h1>
    <h3>{{ product.price | currency }}</h3>
    <img ng-src="http://placehold.it/500x500">
  </div>

  <div class="col-md-5">
    <h2>Description</h2>
    <p>{{ product.description }}</p>

    <p>{{ product.quantity }} Available</p>
    <form ng-submit="changeQuantity(product, quantity)">
      <input type="number" ng-min="0" ng-max="product.quantity" ng-model="quantity">
      <input type="submit" class="btn btn-success" value="Add to Cart">
    </form>
  </div>

</div>
